$primary: #e84e0e;
@mixin small() {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin medium() {
  @media (max-width: 899px) {
    @content;
  }
}
@mixin large() {
  @media (min-width: 481px) {
    @content;
  }
}
:root {
  --swiper-navigation-color: #000;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #000;
  background-color: #f2f2f2;

  @include small() {
    font-size: 1.2rem;
  }
}
a {
  color: $primary;
  text-decoration: none;
}
.container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}
.title {
  font-weight: 400;

  &--h2 {
    font-size: 3.6rem;
  }
  &--h3 {
    font-size: 2.1rem;
  }
}
.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.8rem;
  background-color: #fff;
  padding: 0 5rem;

  @include medium() {
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    padding: 0 1rem;
    font-size: 2rem;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  &__list {
    margin: 0;
    justify-content: flex-end;

    @include medium() {
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 0;
      bottom: 100%;
      flex-direction: column;
      background-color: #fff;
      width: 50%;
      padding: 0;
      text-align: right;
      transition: 0.3s;
      z-index: 1;
    }
  }
  &__item {
    display: inline;

    @include medium() {
      margin: 0;
    }
  }
  &__link {
    color: #000;
    text-decoration: none;
    padding: 2rem 1rem;
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 20%;
      left: 1rem;
      width: calc(100% - 2rem);
      height: 0.15rem;
      background-color: $primary;
      opacity: 0;
      transition: opacity 0.8s, transform 0.8s;
      transform: scaleX(0);
      transform-origin: center;
    }
    @include medium() {
      display: block;
      padding: 1.4rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
  &__link:hover {
    color: $primary;
    &::after {
      opacity: 1;
      transform: scaleX(1);
    }
  }
  &__logo {
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    padding: 1rem;
    @include medium() {
      text-align: center;
      margin: 0;
      z-index: 1;
    }
  }
}
.hamburger {
  display: none;

  @include medium() {
    display: block;
    margin-left: auto;
  }
}
@include medium() {
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .main-menu__list.active {
    transform: translateY(100%);
    margin-bottom: -5rem;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
}
.swiper {
  width: 100%;
  z-index: 0;

  &-slide {
    background-image: url(/images/slide.png);
    background-size: cover;
    padding: 5rem 2rem;
  }
  &-button-prev {
    left: 3rem;

    @include small() {
      left: 1rem;
    }
  }
  &-button-next {
    right: 3rem;

    @include small() {
      right: 1rem;
    }
  }
  &__buttons {
    text-align: right;
  }
  &__title {
    font-size: 4.8rem;
    font-weight: 400;
    margin: 2rem;

    @include small() {
      font-size: 3rem;
    }
  }
  &__text {
    font-size: 2rem;
    max-width: 35em;
    margin: 2rem;

    @include small() {
      font-size: 1.2rem;
    }
  }
}
.button {
  background-color: #fff;
  border: 1px solid $primary;
  border-radius: 100em;
  padding: 0.8rem 4rem;
  margin: 3rem;
}
.header {
  &__banner {
    padding: 1rem 0;
    color: #fff;
    background-color: $primary;
    width: 100%;
    font-size: 1.5rem;

    @include small() {
      font-size: 1.2rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    a {
      color: #fff;
    }
  }
}
.banner {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 78rem;
  }
  &__text {
    margin: 0 10%;
    text-align: center;
    flex: 1;
  }
}
.section {
  &--info {
    background-color: #fff;
  }
}
.about {
  &__img {
    float: left;
    margin: 0 2rem 2rem 0;
  }
  &__clear {
    clear: left;
  }
}
.visitors-container {
  text-align: center;

  > div {
    padding: 3rem;
    text-align: left;
    @include large() {
      display: inline-block;
    }
  }
}
.visitors {
  display: flex;

  @include small() {
    flex-direction: column;
    padding: 0 3rem;
  }

  &__group {
    display: flex;

    @include large() {
      flex-direction: column;
      align-items: center;
    }

    &:first-child {
      margin-right: 1.5rem;
    }
  }
  &__time {
    font-size: 1.3rem;

    @include large() {
      writing-mode: sideways-lr;
      order: 1;
      margin-top: 1.7rem;
    }
    @include small() {
      width: 3em;
    }

    &--half {
      visibility: hidden;
    }
  }
  &__count {
    margin: 0;
    display: flex;
    align-items: flex-end;

    @include small() {
      flex: 1;
      margin: 0 0 0 1.7rem;
    }
    @include large() {
      height: 6.6rem;
    }
  }
  &__bar {
    display: block;
    background-color: $primary;
    border-top-right-radius: 100px;

    @include small() {
      border-bottom-right-radius: 100px;
    }
    @include large() {
      border-top-left-radius: 100px;
    }

    &--low {
      opacity: 0.3;
    }
    &--medium {
      opacity: 0.6;
    }

    @include small() {
      height: 1.7rem !important;
    }
    @include large() {
      width: 1.7rem !important;
    }
  }
  &__legend {
    list-style: none;

    @include small() {
      padding: 0 3rem;
    }

    &-item {
      display: inline;
      font-size: 1.3rem;
      margin: 0 1.25rem;

      @include small() {
        display: block;
        margin: 0;
      }

      &::before {
        content: "";
        display: inline-block;
        background-color: $primary;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0 0.5rem 0 0;
      }

      &--low::before {
        opacity: 0.3;
      }
      &--medium::before {
        opacity: 0.6;
      }
    }
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dashed $primary;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #464646;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #464646 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.columns {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));

  @include small() {
    grid-template-columns: 100%;
  }
}
.partner {
  list-style-image: url(/images/checkmark.png);

  &__item {
    padding: 1.5rem;
  }
}
.benefit {
  &__item {
    padding: 2rem;
    list-style: none;
    counter-increment: benefits;
    &::before {
      content: counter(benefits) ".";
      color: $primary;
      display: inline-block;
      width: 2.5rem;
      margin-left: -3rem;
    }
  }
}
.articles {
  padding: 5rem 0;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
}
.article {
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 2rem 3.5rem 4rem;
  font-size: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  @include small() {
    font-size: 1.5rem;
  }

  &:nth-child(2) {
    color: #fff;
    background-color: #000;
  }
  &__date {
    left: 10%;
    bottom: 5%;
    position: absolute;
    font-size: 1.3rem;
  }
  &__tag {
    font-size: 1.3rem;
    right: 10%;
    bottom: 5%;
    position: absolute;
    color: $primary;
  }
  &__cont {
    margin: 0;
  }
  &__title {
    font-size: 3.8rem;
    line-height: 1.2;

    @include small() {
      font-size: 2.5rem;
    }
  }
}
.footer {
  padding: 2rem 0;
  background-color: #fff;
  text-align: center;
  position: relative;

  &__text {
    text-transform: uppercase;
  }
  &__copyright {
    font-size: 1.4rem;
  }
}
.open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea1c0a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 4.4rem;
  height: 4.4rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 8;

  body.form-open & {
    display: block;
  }
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 11rem;
  right: 3rem;
  border: 3px solid #fff;
  z-index: 9;
  padding: 2rem;
  max-width: 39rem;
  background-color: #fff;
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5));

  @include small() {
    max-width: 30rem;
  }

  body.form-open & {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 2.5rem;
    border-width: 15px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
}
.form-container {
  max-width: 39rem;
  color: #999999;
  background-color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.form-title {
  @include small() {
    font-size: 1.4rem;
  }
}
.form-text {
  text-transform: none;
  font-size: 1.4rem;

  @include small() {
    font-size: 1rem;
  }
}
.form-container input {
  width: 100%;
  padding: 1.5rem;
  margin: 0.5rem 0 2.2rem 0;
  border: 2px solid #999999;
  background: #fff;

  @include small() {
    padding: 1rem;
  }
}
.form-container input:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: $primary;
  color: white;
  padding: 1.6rem 2rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  width: 60%;
  margin-bottom: 1rem;

  @include small() {
    padding: 1rem 1.4rem;
  }
}
